	<tr bgcolor="#FFFFFF">
		<td align="center"><?= ban_id ?></td>
		<td><?= ban_ip ?></td>
		<td><?= ban_mask ?></td>
		<td><?= ban_reason ?></td>
		<td align="center">
            <?lua if(acl("ban", "view") == true) then return "<a href=\"" .. var.homeURL .. "/ban_view.fcgi?ban_id=" .. var.ban_id .. "\"><img src=\"" .. var.homeURL .. "/images/status/security-medium.png\" width=\"16\" height=\"16\" alt=\"view\" title=\"View this row\" border=\"0\"></a>" end ?>
            <?lua if(acl("ban", "edit") == true) then return "<a href=\"" .. var.homeURL .. "/ban_edit.fcgi?ban_id=" .. var.ban_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/gtk-edit.png\" width=\"16\" height=\"16\" alt=\"edit\" title=\"Edit this row\" border=\"0\"></a>" end ?>
            <?lua if(acl("ban", "delete") == true) then return "<a href=\"" .. var.homeURL .. "/ban_delete.fcgi?ban_id=" .. var.ban_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/edit-delete.png\" width=\"16\" height=\"16\" alt=\"delete\" title=\"Delete this row\" border=\"0\"></a>" end ?>
		</td>
	</tr>
