<form name="cfg_edit_form" action="<?= homeURL ?>/cfg_edit.fcgi?cfg_id=<?= cfg_id ?>" method="POST">

	<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td width="30%" valign="top"><span class="varname">cfg_id</span><br><span class="vardesc">Variable serial number</span></td>
		<td width="70%" valign="middle"><?= cfg_id ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">cfg_name</span><br><span class="vardesc">Variable name</span></td>
		<td width="70%" valign="middle"><?= cfg_name ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">cfg_value</span><br><span class="vardesc">Variable value</span></td>
		<td width="70%" valign="middle"><input type="text" name="cfg_value" size="30" value="<?= cfg_value ?>"></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">cfg_type</span><br><span class="vardesc">Variable type</span></td>
		<td width="70%" valign="middle"><?= cfg_type ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">cfg_lpmem</span><br><span class="vardesc">Location in physical memory</span></td>
		<td width="70%" valign="middle"><?= cfg_lpmem ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">cfg_edit</span><br><span class="vardesc">Click on the button to apply</span></td>
		<td width="70%" valign="middle">
			<input type="hidden" name="referer" value="<?lua return escape_html(var.referer) ?>">
            <input type="hidden" name="fkey" value="<?= fkey ?>">
			<input type="submit" name="cfg_edit" size="30" value="Edit config variable">
		</td>
	</tr>
	</table>
</form>
