<a href="/db_list.fcgi"><img src="/images/places/server-database.png" alt="new file" title="Add new row" height="16" border="0" width="16"> Back to table list</a><br>
<a href="/db_add.fcgi?table_name=<?= table_name ?>"><img src="/images/actions/document-new.png" alt="new file" title="Add new row" height="16" border="0" width="16"> Add <?= table_name ?> row</a>

<p>
<?= table ?>
</p>

<a href="/db_list.fcgi"><img src="/images/places/server-database.png" alt="new file" title="Add new row" height="16" border="0" width="16"> Back to table list</a><br>
<a href="/db_add.fcgi?table_name=<?= table_name ?>"><img src="/images/actions/document-new.png" alt="new file" title="Add new row" height="16" border="0" width="16"> Add <?= table_name ?> row</a>
