<form enctype="multipart/form-data" name="file_edit_form" action="<?= homeURL ?>/file_edit.fcgi?file_name=<?lua return escape_html(var.file_name) ?>" method="POST">
	<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td width="30%" valign="top"><span class="varname">file_name</span><br><span class="vardesc">File name</span></td>
		<td width="70%" valign="middle"><img src="<?= homeURL ?>/<?= file_icon ?>" width="16" height="16" alt="icon"> <?lua return escape_html(var.file_name) ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">file_text</span><br><span class="vardesc">File content</span></td>
		<td width="70%" valign="middle"><textarea tabindex="1" name="file_text" rows="15" cols="70"><?lua return escape_html(var.file_text) ?></textarea></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">file_edit</span><br><span class="vardesc">Click on the button to edit file</span></td>
		<td width="70%" valign="middle">
			<input type="hidden" name="referer" value="<?lua return escape_html(var.referer) ?>">
            <input type="hidden" name="fkey" value="<?= fkey ?>">
			<input type="submit" name="file_edit" size="30" value="Edit file">
		</td>
	</tr>
	</table>
</form>
