	<tr bgcolor="#FFFFFF">
		<td>
            <img src="<?= homeURL ?>/<?= file_icon ?>" width="16" height="16" alt="icon"> <?= image_thumbnail ?>
            <a href="<?= homeURL ?>/view<?lua return escape_html(var.file_path .. var.file_name) ?>"><?lua return escape_html(var.file_name) ?></a>
        </td>
		<td><?= file_size ?></td>
		<td><?= file_time ?></td>
		<td align="center">
            <a href="<?= homeURL ?><?lua return escape_html(var.file_path .. var.file_name) ?>"><img src="<?= homeURL ?>/images/stock/stock_download.png" width="16" height="16" alt="download" title="Download this file" border="0"></a>
		</td>
	</tr>
