	<tr bgcolor="#FFEEEE">
		<td>
			<img src="<?= homeURL ?>/<?= file_icon ?>" width="16" height="16" alt="icon">
			<a href="<?= homeURL ?>/file_browse.fcgi?file_path=<?lua return escape_html(var.file_path) ?>"><b>[<?lua return escape_html(var.file_name) ?>]</b></a>
		</td>
		<td>&lt;DIR&gt;<?= file_size ?></td>
		<td><?= file_time ?></td>
		<td align="center">
            <?lua if(file_acl(var.file_path, "rename") == true) then return "<a href=\"" .. var.homeURL .. "/file_rename.fcgi?file_name=" .. escape_html(var.file_path) .. "\"><img src=\"" .. var.homeURL .. "/images/actions/gtk-edit.png\" width=\"16\" height=\"16\" alt=\"rename\" title=\"Rename this folder\" border=\"0\"></a>" end ?>
			<?lua if(file_acl(var.file_path, "delete") == true) then return "<a href=\"" .. var.homeURL .. "/file_delete.fcgi?file_name=" .. escape_html(var.file_path) .. "\"><img src=\"" .. var.homeURL .. "/images/actions/edit-delete.png\" width=\"16\" height=\"16\" alt=\"delete\" title=\"Delete this folder\" border=\"0\"></a>" end ?>
			<?lua if(acl("acl", "edit") == true) then return "<a href=\"" .. var.homeURL .. "/acl_view.fcgi?acl_object=file_" .. escape_html(var.file_path) .. "\"><img src=\"" .. var.homeURL .. "/images/apps/preferences-system-authentication.png\" width=\"16\" height=\"16\" alt=\"view acl\" title=\"View ACL of this folder\" border=\"0\"></a>" end ?>
		</td>
	</tr>
