<form name="file_add_form" action="<?= homeURL ?>/file_add.fcgi?file_path=<?= file_path ?>" method="POST">
	<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td width="30%" valign="top"><span class="varname">file_path</span><br><font color="#888888">Folder, where new file will be created</font></td>
		<td width="70%" valign="middle"><?lua return escape_html(var.file_path) ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">file_name</span><br><span class="vardesc">File name</span></td>
		<td width="70%" valign="middle"><input type="text" name="file_name" size="30" value="<?lua return escape_html(var.file_name) ?>"></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">file_text</span><br><span class="vardesc">File content</span></td>
		<td width="70%" valign="middle"><textarea tabindex="1" name="file_text" rows="15" cols="70"><?lua return escape_html(var.file_text) ?></textarea></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">file_add</span><br><span class="vardesc">Click on the button to create new file</span></td>
		<td width="70%" valign="middle">
			<input type="hidden" name="referer" value="<?lua return escape_html(var.referer) ?>">
            <input type="hidden" name="fkey" value="<?= fkey ?>">
			<input type="submit" name="file_add" size="30" value="Add file">
		</td>
	</tr>
	</table>
</form>
