<form enctype="multipart/form-data" name="file_upload_form" action="<?= homeURL ?>/file_upload.fcgi?file_path=<?lua return escape_html(var.file_path) ?>" method="POST">
    <table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td width="30%" valign="top"><span class="varname">file_path</span><br><span class="vardesc">Folder where uploaded files will be placed</span></td>
		<td width="70%" valign="middle">
            <img src="<?= homeURL ?>/<?= file_icon ?>" width="16" height="16" alt="icon">
            <a href="<?= homeURL ?>/<?lua return escape_html(var.file_path) ?>">/<?lua return escape_html(var.file_path) ?></a>
        </td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>upload_file1</b><br><font color="#888888">Upload file №1</font></td>
		<td width="70%" valign="middle"><input type="file" name="upload_file1" size="30"></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>upload_file2</b><br><font color="#888888">Upload file №2</font></td>
		<td width="70%" valign="middle"><input type="file" name="upload_file2" size="30"></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>upload_file3</b><br><font color="#888888">Upload file №3</font></td>
		<td width="70%" valign="middle"><input type="file" name="upload_file3" size="30"></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">file_upload</span><br><span class="vardesc">Click on the button to upload file(s)</span></td>
		<td width="70%" valign="middle">
			<input type="hidden" name="referer" value="<?lua return escape_html(var.referer) ?>">
            <input type="hidden" name="fkey" value="<?= fkey ?>">
			<input type="submit" name="file_upload" size="30" value="Upload file">
		</td>
	</tr>
    </table>
</form>
