<form name="file_delete_form" action="<?= homeURL ?>/file_delete.fcgi?file_name=<?lua return escape_html(var.file_name) ?>" method="POST">
	<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td width="30%" valign="top"><span class="varname">file_name</span><br><span class="vardesc">File name</span></td>
		<td width="70%" valign="middle"><img src="<?= homeURL ?>/<?= file_icon ?>" width="16" height="16" alt="icon"> <?lua return escape_html(var.file_name) ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">file_delete</span><br><span class="vardesc">Click on the button to delete file</span></td>
		<td width="70%" valign="middle">
			<input type="hidden" name="referer" value="<?lua return escape_html(var.referer) ?>">
            <input type="hidden" name="fkey" value="<?= fkey ?>">
			<input type="submit" name="file_delete" size="30" value="Delete file">
		</td>
	</tr>
	</table>
</form>
