        <td width="160" align="center" bgcolor="#FFFFFF">
            <img src="<?= homeURL ?>/<?= file_icon ?>" width="16" height="16" alt="icon"><br>
            <div style="width: 140px; overflow: hidden;">
                <a title="FileName: <?lua return escape_html(var.file_name) ?> / Size: <?= file_size ?> / Date: <?= file_time ?>" href="<?= homeURL ?>/view<?lua return escape_html(var.file_path .. var.file_name) ?>"><?lua return escape_html(var.file_name) ?></a>
            </div>
            <a href="<?= homeURL ?><?lua return escape_html(var.file_path .. var.file_name) ?>"><img src="<?= homeURL ?>/images/stock/stock_download.png" width="16" height="16" alt="download" title="Download this file" border="0"></a>
        </td>
