        <td width="160" align="center" bgcolor="#FFFFFF">
            <a title="FileName: <?lua return escape_html(var.file_name) ?> / Size: <?= file_size ?> / Date: <?= file_time ?>" href="<?= homeURL ?>/view<?lua return escape_html(var.file_path .. var.file_name) ?>">
            <img title="FileName: <?lua return escape_html(var.file_name) ?> / Size: <?= file_size ?> / Date: <?= file_time ?>" align="middle" src="<?= homeURL ?>/thumbnail.fcgi?file=<?lua return escape_html(var.file_path .. var.file_name) ?>&amp;width=128&amp;height=128" alt="thumbnail" title="Image Thumbnail"><br>
            <div style="width: 140px; overflow: hidden;">
                <?lua return escape_html(var.file_name) ?>
            </div>
            </a>
            <a href="<?= homeURL ?><?lua return escape_html(var.file_path .. var.file_name) ?>"><img src="<?= homeURL ?>/images/stock/stock_download.png" width="16" height="16" alt="download" title="Download this file" border="0"></a>
        </td>
