<?lua
    link = "";
    if var.file_type == "d" then
        link = "<a href=\"/file_gallery.fcgi?file_id=" .. var.file_id .. "\" title=\"" .. escape_html( var.file_name ) .. "\">";
    else
        link = "<a href=\"/file_view.fcgi?file_id=" .. var.file_id .. "\" title=\"" .. escape_html( var.file_name ) .. "\">";
    end
?>
<div class="gallery_file" style="text-overflow: hidden; word-wrap: break-word;">

<div style="width: 210px; height: 200px; display: table-cell; vertical-align:middle; text-align: center;">
<?lua
    print( link );
    if var.file_thumbnail == "" then
        print( var.file_icon );
    else
        print( "<img src=\"/cache" .. var.file_thumbnail .. "\">" );
    end
    print( "</a>" );
?>
</div>
<?lua
    if var.file_type == "d" then
        print( link );
    else
        print( "<a href=\"" .. var.file_path .. var.file_name .. "\" title=\"" .. escape_html( var.file_name ) .. "\">" );
    end
    print( var.file_name_trimmed .. "</a>" );
?><br>
<?= file_size ?><br>
</div>
