<form action="<?= homeURL ?>/file_gallery.fcgi" method="get">
<input type="hidden" name="file_path" value="<?lua return escape_html(var.file_path) ?>">
Сортировка списка по
<select size="1" name="sort">
  <option selected value="name">имени</option>
  <option value="date">дате</option>
  <option value="size">размеру</option>
</select>
в
<select size="1" name="order">
  <option selected value="asc">возрастающем</option>
  <option value="desc">убывающем</option>
</select>
порядке. <button type="submit">Сортировать</button>
</form>

<table align="center" width="100%" cellpadding="10" cellspacing="1" border="0">
    <tr>
        <td align="left">
            Список отсортирован по <?lua
if(var.sort == "name") then
    return "имени";
elseif(var.sort == "date") then
    return "дате";
elseif(var.sort == "size") then
    return "размеру";
end
 ?> в <?lua
if(var.order == "asc") then
    return "возрастающем";
elseif(var.order == "desc") then
    return "убывающем";
end
?> порядке.
        </td>
        <td align="right">Pages: <?= pages ?></td>
    </tr>
</table>

<table align="center" cellpadding="10" cellspacing="1" border="0" bgcolor="#DDDDDD">
<?= content ?>
</table>

<p align="right">Pages: <?= pages ?></p>

<p>
<?lua if(file_acl(var.file_path, "upload") == true) then return "<a href=\"" .. var.homeURL .. "/file_upload.fcgi?file_path=" .. escape_uri(var.file_path) .. "\"><img src=\"" .. var.homeURL .. "/images/stock/stock_upload.png\" width=\"16\" height=\"16\" alt=\"upload\" title=\"Upload file\" border=\"0\"> Upload file</a><br>" end ?>
<?lua if(file_acl(var.file_path, "mkdir") == true) then return "<a href=\"" .. var.homeURL .. "/file_mkdir.fcgi?file_path=" .. escape_uri(var.file_path) .. "\"><img src=\"" .. var.homeURL .. "/images/actions/folder-new.png\" width=\"16\" height=\"16\" alt=\"new folder\" title=\"Create new folder\" border=\"0\"> Create new folder</a><br>" end ?>
<?lua if(file_acl(var.file_path, "add") == true) then return "<a href=\"" .. var.homeURL .. "/file_add.fcgi?file_path=" .. escape_uri(var.file_path) .. "\"><img src=\"" .. var.homeURL .. "/images/actions/document-new.png\" width=\"16\" height=\"16\" alt=\"new file\" title=\"Create new file file\" border=\"0\"> Create new file</a><br>" end ?>
<?lua if(acl("acl", "view") == true) then return "<a href=\"" .. var.homeURL .. "/acl_view.fcgi?acl_object=file_" .. escape_uri(var.file_path) .. "\"><img src=\"" .. var.homeURL .. "/images/apps/preferences-system-authentication.png\" width=\"16\" height=\"16\" alt=\"view acl\" title=\"View Access Control List\" border=\"0\"> View Access Control List</a>" end ?>
</p>
