<form name="log_clear_form" action="<?= homeURL ?>/log_clear.fcgi" method="POST">
	<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td width="30%" valign="top"><span class="varname">log_clear_db</span><br><span class="vardesc">Clear log data in db</span></td>
		<td width="70%" valign="middle"><input type="checkbox" name="log_clear_db" checked></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">log_clear_file</span><br><span class="vardesc">Clear log file</span></td>
		<td width="70%" valign="middle"><input type="checkbox" name="log_clear_file"></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">log_clear</span><br><span class="vardesc">Click on the button to apply</span></td>
		<td width="70%" valign="middle">
            <input type="hidden" name="referer" value="<?lua return escape_html(var.referer) ?>">
            <input type="hidden" name="fkey" value="<?= fkey ?>">
            <input type="submit" name="log_clear" value="Clear log">
		</td>
	</tr>
	</table>
</form>
