<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
    <td width="30%" valign="top"><span class="varname">log_id</span><br><span class="vardesc">Log line number</span></td>
    <td width="70%" valign="middle"><?= log_id ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_priority</span><br><font color="#888888">Log priority, icon and color</font></td>
    <td width="70%" valign="middle" bgcolor="<?= log_bgcolor ?>"><font color="<?= log_fgcolor ?>"><img src="<?= homeURL ?>/<?= log_icon ?>" width="16" height="16" alt="icon" title="<?= log_priority ?>"> <?= log_priority ?></font></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_text</span><br><span class="vardesc">Log text</span></td>
    <td width="70%" valign="middle"><?lua return escape_html(var.log_text) ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_timestamp</span><br><span class="vardesc">Log timestamp</span></td>
    <td width="70%" valign="middle"><?= log_timestamp ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_user_id</span><br><span class="vardesc">Id of user who initiated log line</span></td>
    <td width="70%" valign="middle"><?= log_user_id ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_user_name</span><br><span class="vardesc">Name of user who initiated log line</span></td>
    <td width="70%" valign="middle"><a href="<?= homeURL ?>/user_view.fcgi?user_id=<?= log_user_id ?>"><?= log_user_name ?></a></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_user_nick</span><br><span class="vardesc">Nick of user who initiated log line</span></td>
    <td width="70%" valign="middle"><a href="<?= homeURL ?>/user_view.fcgi?user_id=<?= log_user_id ?>"><?lua return escape_html(var.log_user_nick) ?></a></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_user_host</span><br><span class="vardesc">Host of user who initiated log line</span></td>
    <td width="70%" valign="middle"><?= log_user_host ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_uri</span><br><span class="vardesc">Requested URI</span></td>
    <td width="70%" valign="middle"><?lua return escape_html(var.log_uri) ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_referer</span><br><span class="vardesc">User referer at that time</span></td>
    <td width="70%" valign="middle"><?lua return escape_html(var.log_referer) ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">log_useragent</span><br><span class="vardesc">User browser</span></td>
    <td width="70%" valign="middle"><?lua return escape_html(var.log_useragent) ?></td>
</tr>
</table>

<p><a href="<?= homeURL ?>/log_view.fcgi">Back to log view page</a></p>
