<a href="/node_type_list.fcgi"><img src="/images/categories/applications-internet.png" alt="back" title="Back to the node type list" height="16" border="0" width="16"> Back to node type list</a><br>
<a href="/node_add.fcgi?node_type_id=<?= node_type_id ?>"><img src="/images/actions/document-new.png" alt="new" title="Add new node" height="16" border="0" width="16"> Add new node</a>

<p>Viewing nodes with type id <?lua print( var.node_type_id ); ?>.</p>

<p>
<?= table ?>
</p>

<a href="/node_type_list.fcgi"><img src="/images/categories/applications-internet.png" alt="back" title="Back to the node type list" height="16" border="0" width="16"> Back to node type list</a><br>
<a href="/node_add.fcgi?node_type_id=<?= node_type_id ?>"><img src="/images/actions/document-new.png" alt="new" title="Add new node" height="16" border="0" width="16"> Add new node</a>

