<center><table cellpadding="5" cellspacing="1" border="0" bgcolor="#FFCCCC" width="100%">
	<tr>
        <td bgcolor="white" valign="top" width="180" align="right" rowspan="2">
            [<b><a href="<?= homeURL ?>/user_view.fcgi?user_id=<?= user_id ?>"><?lua return escape_html(var.user_nick) ?></a></b>]<br>
            <font color="#888888"><!-- Post №<?= post_id ?><br> -->
            <?= post_timestamp ?></font>
        </td>
        <th align="left" height="32">
            <a href="<?= homeURL ?>/post_view.fcgi?post_id=<?= post_id ?>"><img src="<?= homeURL ?>/images/stock/net/stock_mail-open.png" width="16" height="16" alt="view" title="[№<?= post_id ?>] <?= post_timestamp ?>" border="0"></a>
            <?lua return escape_html(var.post_subject) ?>
        </th>
    </tr>
	<tr bgcolor="white" valign="top">
        <td valign="top"><?= post_body ?></td>
    </tr>
</table></center>
<br>
