<table cellpadding="5" cellspacing="0" border="0" width="100%">
	<tr>
        <td class="post" align="right" valign="top" rowspan="2" width="180">
            [<b><a href="<?= homeURL ?>/user_view.fcgi?user_id=<?= user_id ?>"><?lua return escape_html(var.user_nick) ?></a></b>]<br>
            <font color="#888888"><!-- Post №<?= post_id ?><br> -->
            <?= post_timestamp ?></font>
            <a href="<?= homeURL ?>/post_view.fcgi?post_id=<?= post_id ?>"><img src="<?= homeURL ?>/images/stock/net/stock_mail-open.png" width="16" height="16" alt="view" title="View post" border="0"></a>
        </td>
        <th style="border-left-style: dashed; border-width: thin; border-color: #C0C0C0;" height="32">
            <?lua return escape_html(var.post_subject) ?>
        </th>
    </tr>
	<tr>
        <td style="border-left-style: dashed; border-width: thin; border-color: #C0C0C0;" align="left" valign="top"><?lua return escape_html(var.post_body) ?></td>
    </tr>
</table><br><br>

<table align="center" cellpadding="1" cellspacing="1" border="0" bgcolor="#DDDDDD">
	<tr>
		<th>Id</th>
		<th>Subject</th>
		<th>Nick</th>
        <th>Replies</th>
		<th>Timestamp</th>
	</tr>

<?= entries ?>

</table><br>
<?lua
    if(post_acl(var.post_id, "add") == true) then
        return "<a href=\"" .. var.homeURL .. "/post_add.fcgi?post_parent=" .. var.post_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/mail-message-new.png\" width=\"16\" height=\"16\" alt=\"reply\" title=\"Reply to this post\" border=\"0\"> Add post</a><br>"
    elseif(acl(var.post_id, "reply", var.post_depth) == true) then
        return "<a href=\"" .. var.homeURL .. "/post_reply.fcgi?post_parent=" .. var.post_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/mail-message-new.png\" width=\"16\" height=\"16\" alt=\"reply\" title=\"Reply to this post\" border=\"0\"> Reply to this post</a><br>"
    end
?>
<?lua
    if(acl("post", "edit") == true) then
        return "<a href=\"" .. var.homeURL .. "/post_edit.fcgi?post_id=" .. var.post_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/gtk-edit.png\" width=\"16\" height=\"16\" alt=\"edit\" title=\"Edit this post\" border=\"0\"> Edit this post</a><br>"
    elseif(post_acl(var.post_id, "modify", var.post_depth + 1) == true and var.session_user_id == var.user_id) then
        return "<a href=\"" .. var.homeURL .. "/post_modify.fcgi?post_id=" .. var.post_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/gtk-edit.png\" width=\"16\" height=\"16\" alt=\"modify\" title=\"Modify this post\" border=\"0\"> Modify this post</a><br>"
    end
?>
<?lua
    if(acl("post", "delete") == true) then
        return "<a href=\"" .. var.homeURL .. "/post_delete.fcgi?post_id=" .. var.post_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/edit-delete.png\" width=\"16\" height=\"16\" alt=\"delete\" title=\"Delete this post\" border=\"0\"> Delete this post</a><br>"
    elseif(post_acl(var.post_id, "remove", var.post_depth + 1) == true and var.session_user_id == var.user_id) then
        return "<a href=\"" .. var.homeURL .. "/post_remove.fcgi?post_id=" .. var.post_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/edit-delete.png\" width=\"16\" height=\"16\" alt=\"remove\" title=\"Remove this post\" border=\"0\"> Remove this post</a><br>"
    end
?>
<?lua if(acl("acl", "edit") == true) then return "<a href=\"" .. var.homeURL .. "/acl_view.fcgi?acl_object=post_" .. var.post_id .. "\"><img src=\"" .. var.homeURL .. "/images/apps/preferences-system-authentication.png\" width=\"16\" height=\"16\" alt=\"view acl\" title=\"View ACL of this post\" border=\"0\"> View ACL of this post</a><br>" end ?>
