<form name="post_delete_form" action="<?= homeURL ?>/post_delete.fcgi?post_id=<?= post_id ?>" method="POST">
	<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td width="30%" valign="top"><b>user_id</b><br><font color="#888888">User unique number</font></td>
		<td width="70%" valign="middle"><a href="<?= homeURL ?>/nncms.fcgi?page=user_view&id=<?= user_id ?>">№<?= user_id ?></a></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>user_nick</b><br><font color="#888888">User nick name</font></td>
		<td width="70%" valign="middle"><a href="<?= homeURL ?>/nncms.fcgi?page=user_view&id=<?= user_id ?>"><?lua return escape_html(var.user_nick) ?></a></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>post_id</b><br><font color="#888888">Post identification number</font></td>
		<td width="70%" valign="middle"><a href="<?= homeURL ?>/nncms.fcgi?page=post_view&post_id=<?= post_id ?>">№<?= post_id ?></a></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>post_parent</b><br><font color="#888888">Identification number of parent post</font></td>
		<td width="70%" valign="middle"><a href="<?= homeURL ?>/nncms.fcgi?page=post_view&amp;post_id=<?= post_parent ?>">№<?= post_parent ?></a></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>post_timestamp</b><br><font color="#888888">Post timestamp</font></td>
		<td width="70%" valign="middle"><?= post_timestamp ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>post_date</b><br><font color="#888888">Post timestamp in human format</font></td>
		<td width="70%" valign="middle"><?= post_date ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>post_subject</b><br><font color="#888888">Post subject</font></td>
		<td width="70%" valign="middle"><?lua return escape_html(var.post_subject) ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>post_body</b><br><font color="#888888">Post text</font></td>
		<td width="70%" valign="middle"><?lua return escape_html(var.post_body) ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><b>post_delete</b><br><font color="#888888">Click on the button to delete post</font></td>
		<td width="70%" valign="middle">
			<input type="hidden" name="referer" value="<?lua return escape_html(var.referer) ?>">
            <input type="hidden" name="fkey" value="<?= fkey ?>">
			<input type="submit" name="post_delete" size="30" value="Delete post">
		</td>
	</tr>
	</table>
</form>
