<form name="user_edit_form" action="<?= homeURL ?>/user_edit.fcgi?user_id=<?= user_id ?>" method="POST">
	<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td width="30%" valign="top"><span class="varname">user_id</span><br><span class="vardesc">User unique number</span></td>
		<td width="70%" valign="middle"><?= user_id ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">user_name</span><br><span class="vardesc">User login name</span></td>
		<td width="70%" valign="middle"><?= user_name ?></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">user_nick</span><br><span class="vardesc">Enter nick name</span></td>
		<td width="70%" valign="middle"><input type="text" name="user_nick" size="30" value="<?lua return escape_html(var.user_nick) ?>"></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">user_group</span><br><span class="vardesc">User group(s)</span></td>
		<td width="70%" valign="middle"><input type="text" name="user_group" size="30" value="<?= user_group ?>"></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">user_new_pass</span><br><span class="vardesc">Enter new pass <b>phrase</b> (leave empty if you don't want to change your pass phrase)</span></td>
		<td width="70%" valign="middle"><input type="password" name="user_new_pass" size="30" value=""></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">user_new_pass_retry</span><br><span class="vardesc">Enter new pass <b>phrase</b> again (leave empty if you don't want to change your pass phrase)</span></td>
		<td width="70%" valign="middle"><input type="password" name="user_new_pass_retry" size="30" value=""></td>
	</tr>
	<tr>
		<td width="30%" valign="top"><span class="varname">user_edit</span><br><span class="vardesc">Click on the button to edit user</span></td>
		<td width="70%" valign="middle">
			<input type="hidden" name="referer" value="<?lua return escape_html(var.referer) ?>">
            <input type="hidden" name="fkey" value="<?= fkey ?>">
			<input type="submit" name="user_edit" size="30" value="Edit user">
		</td>
	</tr>
	</table>
</form>
