
<h2>Avatar requirements</h2>
<ul>
<li>Accepted File Formats: JPG, PNG, GIF</li>
<li>Max File Size: 1000 KB</li>
<li>Max Dimensions: 100x100 pixels, while bigger picture can be uploaded they will be resized to to smaller one, with possible loss of quality.</li>
</ul>

<p>Current avatar:</p>
sdfadsffdas

<form enctype="multipart/form-data" name="user_avatar" action="" method="POST">
<div class="field" id="fieldwrapper_file_avatar">
    <label for="file_avatar" class="hidden">Avatar</label>
    <div class="field_items">
        <input type="file" name="file_avatar" size="60">
    </div>
    <div class="field" id="fieldwrapper_submit">
        <label for="user_edit" class="hidden">user_edit</label>
        <div class="field_items">
            <button type="submit" name="user_edit" size="30" title="" type="submit">Submit</button>
        </div>
    </div>
</div>
</form>
