<form name="user_login" action="<?= homeURL ?>/user_login.fcgi" method="POST">
<input type="text" name="user_name" size="15" value="" placeholder="User name" required></td>
<input type="password" name="user_pass" size="15" value="" placeholder="Password"></td>
<input type="hidden" name="referer" value="<?lua print(escape_html(var.referer)) ?>">
<input type="hidden" name="fkey" value="<?= fkey ?>">
<input type="submit" name="user_login" value="Login">
</form>
<!-- <a href="<?= homeURL ?>/user_add.fcgi">Register</a> -->
