<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
    <td width="30%" valign="top"><span class="varname">user_id</span><br><span class="vardesc">User unique number</span></td>
    <td width="70%" valign="middle"><?= user_id ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">user_name</span><br><span class="vardesc">User login name</span></td>
    <td width="70%" valign="middle"><?= user_name ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">user_nick</span><br><span class="vardesc">Enter nick name</span></td>
    <td width="70%" valign="middle"><?lua return escape_html(var.user_nick) ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">user_group</span><br><span class="vardesc">User group(s)</span></td>
    <td width="70%" valign="middle"><?= user_group ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">actions</span><br><span class="vardesc">Perform some actions on user</span></td>
    <td width="70%" valign="middle">
        <?lua if(acl("user", "edit") == true) then return "<a href=\"" .. var.homeURL .. "/user_edit.fcgi?user_id=" .. var.user_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/gtk-edit.png\" alt=\"edit\" height=\"16\" width=\"16\" border=\"0\"> Edit this user</a><br>" end ?>
        <?lua if(acl("user", "delete") == true) then return "<a href=\"" .. var.homeURL .. "/user_delete.fcgi?user_id=" .. var.user_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/edit-delete.png\" alt=\"delete\" height=\"16\" width=\"16\" border=\"0\"> Delete this user</a><br>" end ?>
    </td>
</tr>
</table>
