	<tr bgcolor="#FFFFFF">
		<td><?= user_id ?></td>
		<td><a href="<?= homeURL ?>/user_view.fcgi?user_id=<?= user_id ?>"><?= user_name ?></a></td>
		<td><?lua return escape_html(var.user_nick) ?></td>
		<td><?= user_group ?></td>
		<td align="center">
            <?lua if(acl("user", "edit") == true) then return "<a href=\"" .. var.homeURL .. "/user_edit.fcgi?user_id=" .. var.user_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/gtk-edit.png\" alt=\"edit\" height=\"16\" width=\"16\" border=\"0\"></a>" end ?>
            <?lua if(acl("user", "delete") == true) then return "<a href=\"" .. var.homeURL .. "/user_delete.fcgi?user_id=" .. var.user_id .. "\"><img src=\"" .. var.homeURL .. "/images/actions/edit-delete.png\" alt=\"delete\" height=\"16\" width=\"16\" border=\"0\"></a>" end ?>
		</td>
	</tr>
