<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
    <td width="30%" valign="top"><span class="varname">file_name</span><br><font color="#888888">File icon, path and name</font></td>
    <td width="70%" valign="middle"><img src="<?= homeURL ?>/<?= file_icon ?>" width="16" height="16" alt="icon"> <a href="<?= homeURL ?>/file_browse.fcgi?file_path=<?= file_path ?>"><?= file_path ?></a><?= file_name ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">file_mimetype</span><br><span class="vardesc">File mimetype (detected by extension only)</span></td>
    <td width="70%" valign="middle"><?= file_mimetype ?></td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">file_size</span><br><span class="vardesc">File size</span></td>
    <td width="70%" valign="middle"><?= file_human_size ?> (<?= file_size ?> bytes)</td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">actions</span><br><span class="vardesc">Do something with selected file</span></td>
    <td width="70%" valign="middle">
        <?lua if(file_acl(var.file_fullpath, "download") == true) then return "<a href=\"" .. var.homeURL .. escape_html(var.file_fullpath) .. "\"><img src=\"" .. var.homeURL .. "/images/stock/stock_download.png\" width=\"16\" height=\"16\" alt=\"download\" title=\"Download this file\" border=\"0\"> Download this file</a><br>" end ?>
        <?lua if(file_acl(var.file_fullpath, "edit") == true) then return "<a href=\"" .. var.homeURL .. "/file_edit.fcgi?file_name=" .. escape_html(var.file_fullpath) .. "\"><img src=\"" .. var.homeURL .. "/images/stock/stock_edit.png\" width=\"16\" height=\"16\" alt=\"edit\" title=\"Edit this file\" border=\"0\"> Edit this file</a><br>" end ?>
        <?lua if(file_acl(var.file_fullpath, "rename") == true) then return "<a href=\"" .. var.homeURL .. "/file_rename.fcgi?file_name=" .. escape_html(var.file_fullpath) .. "\"><img src=\"" .. var.homeURL .. "/images/actions/gtk-edit.png\" width=\"16\" height=\"16\" alt=\"rename\" title=\"Rename this file\" border=\"0\"> Rename this file</a><br>" end ?>
        <?lua if(file_acl(var.file_fullpath, "delete") == true) then return "<a href=\"" .. var.homeURL .. "/file_delete.fcgi?file_name=" .. escape_html(var.file_fullpath) .. "\"><img src=\"" .. var.homeURL .. "/images/actions/edit-delete.png\" width=\"16\" height=\"16\" alt=\"delete\" title=\"Delete this file\" border=\"0\"> Delete this file</a><br>" end ?>
        <?lua if(acl("acl", "edit") == true) then return "<a href=\"" .. var.homeURL .. "/acl_view.fcgi?acl_object=file_" .. escape_html(var.file_fullpath) .. "\"><img src=\"" .. var.homeURL .. "/images/apps/preferences-system-authentication.png\" width=\"16\" height=\"16\" alt=\"view acl\" title=\"View ACL of this file\" border=\"0\"> View ACL of this file</a><br>" end ?>
    </td>
</tr>
<tr>
    <td width="30%" valign="top"><span class="varname">download</span><br><span class="vardesc">Click on the link to download file</span></td>
    <td width="70%" valign="middle"><a href="<?= homeURL ?><?lua return escape_html(var.file_fullpath) ?>"><?= homeURL ?><?lua return escape_html(var.file_fullpath) ?></a></td>
</tr>
</table>
